@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
    .circle {
      clip-path: circle(500px at center bottom);
      top: 15rem;
    }
    .nav-list {
      position: absolute;
      top: 8rem;
      text-align: center;
      margin-right: -2rem;
    }

    .hero-banner {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      margin-top: 2rem;;
      align-items: center;
      text-align: center;
    }

    .title-banner,
    .img-container {
      margin-bottom: -5rem;
    }
    .menu {
      position: absolute;
      top: 5.5rem;
    }

    .socmed {
      display: flex;
      justify-content: space-evenly;
      top: 10rem;
      left: 5rem;
    }
}
