/* Global CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fffdd0;
}

section {
  padding: 1rem 5rem;
}

.circle {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #e56f6c;
  z-index: -1;
  clip-path: circle(50rem at right 60rem);
}


/* Navigation */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 150px;
  height: 90px;
}

.menu {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  text-transform: uppercase;
  
}


.nav-list a {
  text-decoration: none;
  color: black;
  margin-right: 2rem;
}
.nav-list a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in;
}

/* Hero Banner */

.hero-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

/* Hero Banner Text */
.title-banner h1 {
  line-height: 2rem;
  margin-bottom: 1rem;
}

.title-banner span {
  font-weight: 800;
  color: #0d6ebd;
  font-size: 50px;
  margin-left: 15px;
}

.button-a {
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  color: white;
  font-size: 15px;
  font-weight: 700;
  margin-top: 1rem;
  background-color: #0d6ebd;
  cursor: pointer;
}

.button-a:hover {
  opacity: 75%;
  transition: all 0.3s ease;
}

/* Hero Banner Image */
.product-img {
  width: 250px;
}

/* Social Media */
.socmed li {
  list-style: none;
}
.socmed a {
  color: black;
}
.socmed a:hover {
  opacity: 75%;
  transition: all 0.3s ease-in-out;
}

/* Footer */

footer {
  margin-top: 10rem;
}
.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb img {
  width: 35px;
  margin-right: 1.5rem;
}
.thumb img:hover {
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}
.socmed {
  position: absolute;
  top: 20rem;
  right: 5rem;
  font-size: 30px;
}


.footer {
  text-align: center;
}
.footer h2 {
  font-size: 15px;
}
.footer p {
  font-size: 12px;
}

